/* latin-ext */
@font-face {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/zOL64pLDlL1D99S8g8PtiKchq-lmjdLh.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/zOL64pLDlL1D99S8g8PtiKchq-dmjQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: "Abril Fatface";
    font-size: 14px;
    color: black;
    margin: 0;
    transition: background-color 0.2s, color 1s;
}

/*
TOP BAR
*/
nav{
    height: 80px;
    width: 100%;
    border-bottom: 1px solid black;
}
nav ul{
    float: right;
    margin: 0;
    margin-bottom: 0;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0;
}
nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}
a.active,a:hover{
    background: #d6d6d6;
    text-decoration: underline;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
#top-bar-mode-change-button{
    background-color: white;
    color:white;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 20px;
    height: 20px;
}
#top-bar-mode-change-button:hover{
    background-color: black;
    color:white;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}
#top-bar-logo{
    max-height: 60px;
    padding-top: 10px;
    padding-left: 10px;
}
.top-bar-mode-change{
    display: inline;
}
/*
END TOPBAR
*/
.index-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding-top: 20px;
}
.index-main-element {
    text-align: center;
    flex: 1;
}
/*
INDEX PAGE
*/

/*
END INDEX PAGE
*/


/*
PROJECTS PAGE
*/
#projects-main-title{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%; 
    min-height: calc(100vh - 80px);
}
#projects-fixed-menu{
    position: fixed;
    bottom: 0;
}
.projects-fixed-menu-links{
    padding: 10px;
    padding-top: 0;
    background-color: rgb(0, 0, 0);
    color: white;
    text-decoration: none;
    font-size: 16px;
    border: 2px solid white;
}
.projects-fixed-menu-links:hover{
    text-decoration: none;
    font-size: 20px;
    border: 2px solid white;
}
/*
END PROJECTS PAGE
*/

/*
ABOUT PAGE
*/
.about-main {
    background: url('../imgs/backgrounds/bckg-about.jpg');
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    min-height: calc(100vh - 80px);
    
    border-bottom: 1px solid black;
}
.about-main-element{
    background-color: white;
}
#about-takmicenje-iz-hakovanja{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: auto;
    
    border-bottom: 1px solid black;
}
#about-takmicenje-iz-hakovanja-info{
    text-align: center;
    min-width: 50%;
}
#about-takmicenje-iz-hakovanja-iframe{
    border-left: 1px black solid;
    min-width: 49%;
}
#about-obrazovanje{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: auto;
    
    border-bottom: 1px solid black;
}
#about-obrazovanje-fon{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    min-width: 50%;
}
#about-obrazovanje-tbg{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    min-width: 50%;
}
#about-treniranje-fudbala{
    display:flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    flex-direction: row;
}
/*
END ABOUT PAGE
*/



/*
CONTACT PAGE
*/
.contact-main{
    /* POSTAVLJAM GRADIENT NA POZADINU
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/91dc1964120315.5ac77335ae374.png');
    background-size: cover;
    background-position: center center; */
    
    /* BOJA 1
    background: rgb(2,170,176);
    background: linear-gradient(139deg, rgba(2,170,176,1) 0%, rgba(0,205,172,1) 100%);
    */

    /* BOJA 2 */
    background: rgb(161,196,253);
    background: linear-gradient(145deg, rgb(153, 192, 255) 0%, rgba(194,233,251,1) 100%);

    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    
    min-width: 100%;
    min-height: 50vh;
}
.contact-main > div{
    background-color: white;

    padding: 20px;

    text-align: center;

    min-width: 25%;
    min-height: 100%;

    border: black 1px solid;

    transition: all 1s;
}
#contact-vreme{
    display: inline-block;

    background: rgb(161,196,253);
    background: linear-gradient(145deg, rgba(161,196,253,1) 0%, rgba(194,233,251,1) 100%);

    color: black;
    font-weight: bold;
}
#contact-vreme:hover{
    cursor: pointer;
    opacity: 0.6;
}
#contact-submit{
    width: 40%;
    height: 40px;

    background: rgb(161,196,253);
    background: linear-gradient(145deg, rgba(161,196,253,1) 0%, rgba(194,233,251,1) 100%);

    color: white;
    font-weight: bold;
}
#contact-submit:hover{
    opacity: 0.6;
    cursor: pointer;
}
/*
END CONTACT PAGE
*/






/*
THIRD BAR
*/

.title{
    color: white;
    text-align: center;
    background-color: black;
    font-size: 20px;
    padding: 10px;
}

.col-projcts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.col-projcts > .projects{
    min-width: 25%;
    height: 500px;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    transition: all 1s;
    border: white 2px solid;
}

.projects:hover{
    min-height: 100%;
    width: 50%;
    transition: all 1s;
}

.third-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 50vh;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  .col {
      text-align: center;
    flex: 1;
  }




/*
BOTTOM BAR
*/
.bottom-main{
    font-size: 16px;
    padding: 50px;
    padding-left: 180px; 
    padding-right: 180px; 
    border-bottom: 0;
}
.bottom-networks{
    padding: 50px;
}
.bottom-meni{
    color: black;
}
.bottom-meni:hover{
    color: red;
    padding-left: 20px;
}
i{
    font-size: 40px !important;
    color: black;
}
i:hover:before{
    font-size: 40px !important;
    color: red;
    text-decoration: none;
}
.bottom-networks-info{
    position: absolute;
    transform: translate(-30px, -150px);
    color: white;
    background-color: black;
    border-radius: 40% 40% 0 0;    
    font-size: 20px;
    padding: 10px;
    display: none;
}
i:hover > .bottom-networks-info{
    display: block;
}
/*
END BOTTOM BAR
*/




/*
RESPONSIVENESS
*/

/*
UREDJAJI VECI OD 952px
*/
@media (min-width: 952px){
    /*
        BOTTOM BAR
    */
    .bottom-bar{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        border-top: 1px solid black;
    }
    /*
    END BOTTOM BAR
    */

    /*
        INDEX PAGE
    */
    #shiba{
        min-width: 25%;
        transition: all 1s;
    }
    #shiba:hover{
        transform: rotate(720deg);
        transition: all 3s;
    }
    /*
    END INDEX PAGE
    */

    /*
        ABOUT PAGE
    */
    .about-main-element{
        min-width: 50%;
        max-width: 50%;
        min-height: 100%;
    }
    /*
    END ABOUT PAGE
    */
}




/*
UREDJAJI MANJI OD 952px
*/
@media (max-width: 952px){
    /*
        TOP BAR
    */
    nav ul li a{
        font-size: 16px;
    }
    #top-bar-mode-change-button{
        display: none;
    }
    /*
    END TOP BAR
    */
    
    /*
        BOTTOM BAR
    */
    .bottom-bar{
        display: none;
    }
    /*
    END BOTTOM BAR
    */

    /*
        ABOUT PAGE
    */
    .about-main-element{
        min-width: 100%;
        height: 100%;
    }
    #about-takmicenje-iz-hakovanja-info{
        min-width: 100%;
    }
    #about-takmicenje-iz-hakovanja-iframe{
        display: none;
    }
    /*
    END ABOUT PAGE
    */


.col-projcts > .projects{
    min-width: 340px;
    height: 500px;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    transition: width 1s;
    border: white 2px solid;
}

#shiba{
    min-width: 100%;
}

}




/*
UREDJAJI MANJI OD 858px
*/
@media (max-width: 858px){
    /*
    TOP BAR
    */
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        color: black;
    }
    a:hover,a.active{
        background: none;
        color: black;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        top: 80px;
        left: -110%;
        text-align: center;
        transition: all .5s;
    }
    .checkbtn{
        display: block;
    }
    #check:checked ~ ul{
        left: 0;
    }
    /*
    END TOP BAR
    */
}
  